@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.heading-area{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding: 1% 6% 0% 6%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.active{
    border-bottom: 2px solid #ffffff;
}

.heading-area .brand {
    display: flex;
    align-items: center;
}
.heading-area .brand img{
    width: 40px;
    margin-right: 10px;
}
.heading-area h1{
    text-align: left;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
}
.heading-area .menu ul {
    list-style: none;
    display: flex;
    justify-content: right;
}
.heading-area .menu ul li{
    padding: 2%;
}
.heading-area .menu ul li a{
    text-decoration: none;
    color: #ffffff;
}

.heading-area .menu ul li a:hover{
    color: #a6a6a6;
}

.heading-area .hamburger-menu{
    display: none;
}

@media (max-width: 945px) {
    .menu {
        display: none;
    }
    .heading-area {
        display: grid;
    }
    /* .heading-area .brand{
        display: inline-block;
    } */
    .heading-area .hamburger-menu{
        display: flex;
        justify-content: end;
        margin-top: 2rem;
        font-size: 2rem;
    }
    .mobile-menu{
        display: block;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
    }

    .mobile-menu ul li{
        display: block;
    }
}

@media (max-width: 700px){
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
    }
    .mobile-menu ul li{
        display: block;
    }
}

@media (max-width: 500px){
    .heading-area .brand h1{
        font-size: 25px;
    }
    .heading-area .hamburger-menu{
        margin-top: 1.6rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 400px){
    .heading-area .brand h1{
        font-size: 20px;
    }
    .heading-area .hamburger-menu{
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }
}