.user_profile_area{
	margin-top: 5%;
	display: flex;
	justify-content: center;	
	align-items: center;
	flex-direction: column;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.login__submit {
	background: rgb(82, 82, 82);
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 35px;
	border: 2px solid #D4D3E8;
    font-size: 1.4rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	width: 25%;
	color: #ffffff;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	background-color: #ffffff;
    color: #000000;
	outline: none;
}
.login__submit span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__submit span img {
    width: 2rem;
    margin-left: 5%;
}

.profile-card{
	width: 60%;
	display: flex;
	background: rgb(255,255,255);
	background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(116,116,116,1) 100%);
	border-radius: 150px;
}
.profile-card img{
	width: 20%;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.profile-card .userdata{
	padding: 0% 5%;
}

.profile-card .userdata h2{
	font-size: 35px;
}
.profile-card .userdata h4{
	font-size: 22px;
}