.container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* min-height: 100vh; */
}

.login__submit {
	background: rgb(82, 82, 82);
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 28px;
	border: 2px solid #D4D3E8;
	/* text-transform: uppercase; */
    font-size: 1.4rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	width: 20%;
	color: #ffffff;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	background-color: #ffffff;
    color: #000000;
	outline: none;
}
.login__submit span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__submit span img {
    width: 2rem;
    margin-left: 5%;
}