.rec_card{
    display: flex;
}

.rec_card .rec_img{
    width: 40%;
}

.rec_card .rec_img img{
    width: 100%;
}

.rec_card .rec_content{
    width: 60%;
    background-color: #000000;
    padding: 2% 4%;
    text-align: left;
}

.rec_card .rec_content h1{
    color: #ffffff;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.rec_card .rec_content .rec_rating{
    color: rgb(244, 232, 104);
    font-size: 1.8rem;
    margin-bottom: 4%;
}

.rec_card .rec_content .rec_rating svg{
    margin-right: 10px;
}

.rec_card .rec_content .rec_desc {
    font-size: 0.8rem;
}

.rec_card .rec_content .rec_btn button{
    margin-top: 5%;
    padding: 2% 8%;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
}

.rec_card .rec_content .rec_btn button:hover{
    background-color: #424242;
    color: #ffffff;
}

.rec_confirmation_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rec_confirmation_area .rec_confirmation_card {
    border-radius: 10px;
    background-color: #000000;
    padding: 2%;
    display: flex;
}

.rec_confirmation_area .rec_confirmation_card .rec_confirm_inner {
    border-left: 3px solid #a1f86b;
    padding: 0% 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rec_confirmation_area .rec_confirmation_card .rec_confirm_inner .rec_confirm_icon {
    color: #a1f86b;
    font-size: 2rem;
}

.rec_confirmation_area .rec_confirmation_card .rec_confirm_inner h2 {
    font-size: 1.5rem;
}