.watchlist-heading{
    text-align: center;
    color: #ffffff;
    font-size: 1.6em;
    margin-top: 3%;
}

.series-container {
    margin-top: 0%;
    width: 100%;
}

.series-container .nav-area{
    display: flex;
    width: 80%;
    justify-content: center;
    color: #ffffff;
}

.series-container .nav-area .tabs{
    padding: 1%;
    font-size: 1.2rem;
    width: 10rem;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.series-container .nav-area .active-tab{
    background-color: #ffffff;
    color: #000000;
}

.series-container .content-area{
    width: 80%;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.series-container .content-area .contents{
    margin: 3% 0%;
    background-color: #3b3b3b52;
    width: 90%;
    padding: 3%;
    border: 2px solid white;
    border-radius: 30px;
    display: none;
}

.series-container .content-area .active-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}